<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>nlp4j-web-rag</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 1 -->
	<servlet>
		<description></description>
		<display-name>RagPostServlet</display-name>
		<servlet-name>RagPostServlet</servlet-name>
		<servlet-class>nlp4j.servlet.RagPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RagPostServlet</servlet-name>
		<url-pattern>/ragpost.wss</url-pattern>
	</servlet-mapping>
	
	<!-- 2 -->
	<servlet>
		<description></description>
		<display-name>KeywordSearchServlet</display-name>
		<servlet-name>KeywordSearchServlet</servlet-name>
		<servlet-class>nlp4j.servlet.KeywordSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KeywordSearchServlet</servlet-name>
		<url-pattern>/keywordsearch.wss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>VectorSearchServlet</display-name>
		<servlet-name>VectorSearchServlet</servlet-name>
		<servlet-class>nlp4j.servlet.VectorSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VectorSearchServlet</servlet-name>
		<url-pattern>/vectorsearch.wss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>RagQueryServlet</display-name>
		<servlet-name>RagQueryServlet</servlet-name>
		<servlet-class>nlp4j.servlet.RagQueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RagQueryServlet</servlet-name>
		<url-pattern>/ragquery.wss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>StatusServlet</display-name>
		<servlet-name>StatusServlet</servlet-name>
		<servlet-class>nlp4j.servlet.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatusServlet</servlet-name>
		<url-pattern>/status.wss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>ChatOnlyServlet</display-name>
		<servlet-name>ChatOnlyServlet</servlet-name>
		<servlet-class>nlp4j.servlet.ChatOnlyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatOnlyServlet</servlet-name>
		<url-pattern>/chatonly.wss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>ChatServlet</display-name>
		<servlet-name>ChatServlet</servlet-name>
		<servlet-class>nlp4j.servlet.ChatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatServlet</servlet-name>
		<url-pattern>/chat.wss</url-pattern>
	</servlet-mapping>
	
</web-app>