<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>nlp4j-web-rag</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>nlp4j.servlet.util.AppContextListener</listener-class>
	</listener>

	<!-- 1 : ベクトルDBに文書をポストする -->
	<servlet>
		<description></description>
		<display-name>RagPostServlet</display-name>
		<servlet-name>RagPostServlet</servlet-name>
		<servlet-class>nlp4j.servlet.RagPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RagPostServlet</servlet-name>
		<url-pattern>/ragpost.wss</url-pattern>
	</servlet-mapping>

	<!-- 2 : キーワード検索を実行する -->
	<servlet>
		<description></description>
		<display-name>KeywordSearchServlet</display-name>
		<servlet-name>KeywordSearchServlet</servlet-name>
		<servlet-class>nlp4j.servlet.KeywordSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KeywordSearchServlet</servlet-name>
		<url-pattern>/keywordsearch.wss</url-pattern>
	</servlet-mapping>

	<!-- 3 : ベクトル検索を実行する -->
	<servlet>
		<description></description>
		<display-name>VectorSearchServlet</display-name>
		<servlet-name>VectorSearchServlet</servlet-name>
		<servlet-class>nlp4j.servlet.VectorSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VectorSearchServlet</servlet-name>
		<url-pattern>/vectorsearch.wss</url-pattern>
	</servlet-mapping>

	<!-- 4 : Open AI API を単純に呼ぶ + セッション単位で会話履歴を保存する -->
	<servlet>
		<description></description>
		<display-name>ChatOnlyServlet</display-name>
		<servlet-name>ChatOnlyServlet</servlet-name>
		<servlet-class>nlp4j.servlet.ChatOnlyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatOnlyServlet</servlet-name>
		<url-pattern>/chatonly.wss</url-pattern>
	</servlet-mapping>

	<!-- 5 : RagChat: ベクトル検索の結果を会話に反映する -->
	<servlet>
		<description></description>
		<display-name>RagChatServlet</display-name>
		<servlet-name>RagChatServlet</servlet-name>
		<servlet-class>nlp4j.servlet.RagChatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RagChatServlet</servlet-name>
		<url-pattern>/ragchat.wss</url-pattern>
	</servlet-mapping>

	<!-- 6 : RagChatPlus: ベクトル検索の結果を会話に反映する -->
	<servlet>
		<description></description>
		<display-name>RagChatPlusServlet</display-name>
		<servlet-name>RagChatPlusServlet</servlet-name>
		<servlet-class>nlp4j.servlet.RagChatPlusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RagChatPlusServlet</servlet-name>
		<url-pattern>/ragchatplus.wss</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>StatusServlet</display-name>
		<servlet-name>StatusServlet</servlet-name>
		<servlet-class>nlp4j.servlet.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatusServlet</servlet-name>
		<url-pattern>/status.wss</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ChatServlet</display-name>
		<servlet-name>ChatServlet</servlet-name>
		<servlet-class>nlp4j.servlet.ChatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatServlet</servlet-name>
		<url-pattern>/chat.wss</url-pattern>
	</servlet-mapping>

</web-app>